<div [style.backgroundColor] = "bgColor">
  <h2 [style.color] = "textColor">{{title}}</h2>
  <p [style] = "contentStyle">{{content}}</p>
  <button [disabled] = "isDisabled" type="button" (click) = "increment()">Change Color</button>
</div>

<div>
<h1 [class.textColor] = "redText === 'text-red'">{{countNm}}</h1>
</div>

<input type="text" [value]="name" placeholder="Enter your name" />
<p>{{name}}</p>

<input type="text" [(ngModel)]="address" placeholder="Enter your name" />
<p>{{address}}</p>

<div [ngClass]="classes">
  {{messege}}
</div>

<div class="color-box" [ngStyle]="{backgroundColor: selectedColor}">BOX</div>

<div *ngIf="!yes ; else theElseBlock"> this will sown</div>
<ng-template #theElseBlock> please wait</ng-template>

<div *ngFor="let item of namesStr; let i = index"> {{i }} {{item}}</div>

<div [ngSwitch]="grade">
  <p *ngSwitchCase = "'A'">Awesome</p>
  <p *ngSwitchCase = "'B'">Good</p>
  <p *ngSwitchCase = "'C'">Great</p>
  <p *ngSwitchDefault>Superb</p>
</div>
<!-- angular 17 stuff -->
@if (a>b){
  {{a}} is greater than {{b}}
} @else if (b>a){
  {{b}} is greater than {{a}}
}

<!-- $first, $last, $even,$odd -->
@for (item of items; track item.id; let i = $index;let total = $count){
  {{i}} {{item.name}} {{total}}
}

@switch (grade1){
  @case ('A'){
    <p>Awesome</p>
  }
  @case ('B'){D
    <p>Good</p>
  }
  @default{
    <p>Superb</p>
  }
}


<p>Custom Pipe </p>
<p>{{pipeValue | append : " This is Appending" | uppercase}}</p>

<p>Services </p>
<br>
<p>{{data}}</p>

<p>Post Services </p>
<br>
<div *ngFor="let item of data2">
  {{item.title}}
  {{item.body}}
</div>
<br>
<br>
<br>
<br>
<br>
<div *ngIf = "user | async as user">
  <p>Name : {{user.name}}</p>
  <p>Email : {{user.email}}</p>
</div>
<br>
<br>
<br>
<br>
<br>
<div>
  <h1>User Data</h1>
  <pre>{{userData | json}}</pre>
</div>
<br>
<br>
<br>
<br>
<!-- cause its a signal we need to use () -->
<input 
[value] = "newTodo()"
(input)="handleinput($event)"
placeholder="Enter Todo"/>
<button (click) = "addTooDo()">Add Todo</button>
<ul>
  <li>Total Items : {{totalToDoItems()}}</li>
  <li *ngFor = "let todo of todos()">
    <span>{{todo.title}}</span>
    <button (click)="deleteToDo(todo.id)">Delete Todo</button>
  </li>
</ul>
<br>
<br>
<br>
<br>